<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Yodl</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
  
  </style>
</head>
<body>
  <div class="container">
    <div class="text-center">
      <h1>Brodul's youtube downloader</h1>
      <h4>Simple way to download youtube songs.</h4>
    </div>
    
    {% if not request.session["error"] %}
    <form action="" method="post" class="form">
      <div class="form-group">
        <label for="">Youtube URL:</label>
        <input name="url" type="text" class="form-control" /></div>
    <button type="submit" class="btn">Submit</button>
    </form>

    {% else %}
    <form action="" method="post" class="form">
    <div class="form-group has-error">
    <label class="control-label" for="inputError">Youtube URL:</label>
    <input name="url" type="text" class="form-control" id="inputError" />
    <span class="help-block">
      Please provide the URL in the following format:
      http://www.youtube.com/watch?v=wiyYozeOoKs
    </span>
    <button type="submit" class="btn">Submit</button>
    </div>
    </form>

    {% endif %}

    <hr/>
    <h3>Queue (to be processed):</h3>
      <table class="table table-striped">
      <tr>
        <th>Worker</th>
        <th>Song name</th>
      </tr>
      {% if queue%}
      {% for worker, tasks in queue.iteritems() %}
      {% for task in tasks %}
      <tr>
        <td>{{ worker }}</td>
        <td>{{ task['args'] }}</td>
      </tr>
      {% endfor %}
      {% endfor %}
      {% endif %}
    </table>
    <hr />
    <h3>Active:</h3>
      <table class="table table-striped">
      <tr>
        <th>Worker</th>
        <th>Song name</th>
      </tr>
      {% if active%}
      {% for worker, tasks in active.iteritems() %}
      {% for task in tasks %}
      <tr>
        <td>{{ worker }}</td>
        <td>{{ task['args'] }}</td>
      </tr>
      {% endfor %}
      {% endfor %}
      {% endif %}
    </table>
    <hr />
    <h3>Finished:</h3>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Song name</th>
        <th>Link</th>
      </tr>
      {% for song in songs %}
      <tr>
        <td>{{ song.id }}</td>
        <td>{{ song.songname | safe}}</td>
        <td>
        <a href="{{ request.static_url(request.registry.settings['yodl.media_path']) + song.youtube_id }}.ogg">
        {{ request.static_url(request.registry.settings['yodl.media_path']) + song.youtube_id }}.ogg
        </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>

